.keyword { font-weight : bold ; color : #ff6600 }
.keywordsign { color : #ff6600 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : #336600 }
.constructor { color : #0000ff }
.string { color : #336600 }
.warning { color : #ff6600 ; font-weight : bold }
.info { margin-left : 3em; margin-right : 3em; margin-top: 1em }
.title1 { font-size : 20pt }
.title2 { font-size : 20pt }
.title3 { font-size : 20pt }
.title4 { font-size : 20pt }
.title5 { font-size : 20pt }
.title6 { font-size : normal; font-weight: bold }
